:root {
	--primary-text-color:#2E2F42;
	--title-text-color:#434455;
	--accent-color:#4D5AE5;
	--bg-color-body:#FFFFFF;
	--bg-button-main: #404BBF;
	--color-button: black;
	--border-customers: #8E8F99;

	--primary-margin-btn-item: 24px;

	--transition-color-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);

	--footer:#F4F4FD;
	--footer-p:#E7E9FC;

	--modal-idx: 999;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

.section {
	padding: 120px 0;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: var(--bg-color-body);
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

button {
	cursor: pointer;
}

address {
	font-style: normal;
}

/* __________ul__________ */
.list {
	list-style: none;
	padding-left: 0;
	margin: 0;

	color: var(--title-text-color);
}

/* __________a__________ */
.link {
	text-decoration: none;
	color: inherit;
}



/* __________HEADER__________ */
.header {
	border-bottom: 1px solid var(--footer-p);

	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
	0px 1px 1px rgba(46, 47, 66, 0.16), 
	0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
	width: 1158px;
	padding: 0 15px;
	margin: 0 auto;
}

.header-container {
	display: flex;
	align-items: center;
}

.nav {
	display: flex;
	align-items: center;
}

.logo {
	font-family: 'Raleway';
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-text-color);

	margin-right: 77px;
}

.accent {
	color: var(--accent-color);
}

.nav-list {
	display: flex;
	align-items: center;
}

.list a:hover,
.list a:focus {
	color: var(--accent-color);
}

.list {
	display: flex;
	margin-left: auto;
}

.nav-list > .nav-item:not(:last-child) {
	margin-right: 40px;
}

.nav-link {
	display: block;
	padding: 24px 0 27px;
	position: relative;

	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);

	transition: color var(--transition-color-function); 
}

.nav-link.current {
	color: var(--bg-button-main);
}

.nav-link.current:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: -1px;
	height: 4px;
	width: 100%;

	background-color: var(--bg-button-main);
	border-radius: 2px;
}

.list > .item:not(:last-child) {
	margin-right: 40px;
}

.contact-link {
	display: block;
	padding: 24px 0 27px;

	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--title-text-color);

	transition: color var(--transition-color-function);
}

.phone-link {
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--title-text-color);

	display: block;
	padding: 24px 0 27px;
}

.contact-link:hover,
.contact-link:focus {
	color: var(--accent-color);
}



/* __________HERO__________ */
.hero {
	background-color: var(--primary-text-color);
	padding-top: 188px;
	padding-bottom: 188px;
	text-align: center;

	width: 1440px;
	margin: 0 auto;
	background-image: linear-gradient(rgba(46, 47, 66, 0.7),
	rgba(46, 47, 66, 0.7)),
	url(../images/photo-17.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.hero-title {
	font-weight: 600;
	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;
	color: var(--bg-color-body);

	width: 500px;
	margin: 0 auto;
	margin-top: 0;
	margin-bottom: 48px;
}

.hero-btn {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border-style: none;
	cursor: pointer;
	
	padding: 16px 32px;
	min-width: 169px;
	color: var(--bg-color-body);
	background-color: var(--accent-color);
	
	transition: background-color var(--transition-color-function);
}

.hero-btn:hover,
.hero-btn:focus {
	background-color: var(--bg-button-main);
}

.btn {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border-style: none;
	cursor: pointer;
	
	/* padding: 16px 32px;
	min-width: 169px; */
	color: var(--bg-color-body);
	background-color: var(--accent-color);
	
	transition: background-color var(--transition-color-function);
}


/* __________SECTION EXAMPLES__________*/
.examples {
	padding-bottom: 0;
}

.examples-title {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);

	margin-top: 0;
	margin-bottom: 8px;
}

.examples-list {
	padding: 0;
	margin: 0;
	display: flex;
	gap: 24px;
}

.examples-description {
	line-height: 1.5;
	letter-spacing: 0.02em;
	color:var(--title-text-color);

	width: 264px;
	margin-top: 0;
	margin-bottom: 0;
}

.icons {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 112px;
	margin: auto;
	margin-bottom: 8px;
	background-color: var(--footer);
	border-radius: 4px;
}

.icons-list-icon {
	width: 64px;
	height: 64px;
}



/* __________SECTON 1__________ */
.section-item {
	border: 1px solid var(--footer-p);
}



/* __________SECTION 2__________ */
.section-team {
	background-color: var(--footer);
}

.section-title {
	font-weight: 600;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--primary-text-color);

	margin-bottom: 72px;
	margin-top: 0;
}

.section-list {
	gap: 24px;
}

.section-item-team {
	text-align: center;
	background: var(--bg-color-body);
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
	0px 1px 1px rgba(46, 47, 66, 0.16),
	0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
}

.card-content {
	padding: 32px 16px;
}

.team-name {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);

	margin-top: 0;
	margin-bottom: 8px;
}

.team-position {
	line-height: 1.5;
	letter-spacing: 0.02em;
	color:var(--title-text-color);

	margin-top: 0;
	margin-bottom: 8px;
}

.social-list {
	display: flex;
	justify-content: center;
	gap: 24px;
}

.social-list-link {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--accent-color);
	transition: var(--transition-color-function);

	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.social-list-link:hover,
.social-list-link:focus {
	background-color: var(--bg-button-main);
	transition: var(--transition-color-function);
}

.social-list-icon {
	fill:var(--footer);
}



/*__________SECTION CUSTOMERS__________*/
.section-customers {
	padding-top: 130px;
	padding-bottom: 120px;
}

.section-customers-title {
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color:var(--primary-text-color);

	margin-bottom: 72px;
}

.section-customers-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

.section-customers-item {
	width: 168px;
}

.section-customers-link {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 88px;

	color: #8e8f99;
	border: 1px solid #8E8F99;
	border-radius: 4px;

	transition: border-color var(--bg-button-main),
	var(--transition-color-function),
	color var(--bg-button-main);

}

.section-customers-icons-list {
	fill:currentColor;
}

.section-customers-link:hover,
.section-customers-link:focus {
	color: var(--bg-button-main);
	border-color: var(--bg-button-main);
	transition: var(--transition-color-function);
}



/* __________MAIN__________ */
.main {
	padding-top: 96px;
}

.btn-list {
	display: flex;
	justify-content: center;
	margin-bottom: 72px;
}

.main-btn {
	display: inline-block;
	font-family: 'Roboto';
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.04em;
	background-color: #f4f4fd;
	color: var(--accent-color);

	border: 1px solid #e7e9fc;
	border-radius: 4px;
	border: none;
	cursor: pointer;

	padding: 8px 16px;

	transition: background-color var(--transition-color-function),
	color var(--transition-color-function),
	border-color var(--transition-color-function),
	box-shadow var(--transition-color-function);
}

.btn-list .main-item:not(:last-child) {
	margin-right: var(--primary-margin-btn-item);
}

.btn:hover,
.btn:focus {
	background-color: var(--bg-button-main);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
	0px 2px 1px rgba(0, 0, 0, 0.08),
	0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list button:hover,
.list button:focus {
	color: var(--bg-color-body);
}

.main-list {
	display: flex;
	flex-wrap: wrap;

	margin-left: calc(-1 * var(--primary-margin-btn-item));
	margin-top: calc(-2 * var(--primary-margin-btn-item));
}

.main-list > .main-item-item {
	flex-basis: calc(100% / 3 - var(--primary-margin-btn-item));
	margin-left: var(--primary-margin-btn-item);
	margin-top: calc(2 * var(--primary-margin-btn-item));
}

.card-thumb {
	position: relative;
	overflow: hidden;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 40px 32px;
	overflow: auto;
	transform: translate(0, 100%);

	line-height: 1.5;
	letter-spacing: 0.02em;

	background-color: var(--accent-color);
	color: #f4f4fd;

	transition: transform var(--transition-color-function);
}

.portfolio-link {
	display: block;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

	transition: box-shadow var(--transition-color-function);
}

.portfolio-link:hover,
.portfolio-link:focus {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
	0px 1px 1px rgba(46, 47, 66, 0.16), 
	0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
	transform: translate(0, 0);
}

.card-content {
	padding: 32px 0 32px 16px;
	border: 0.5px solid #f4f4fd;
	border-top: none;
}

.main-link {
	font-weight: 600;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.04em;
	color: var(--accent-color);
}

.main-title {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);

	margin-bottom: 8px;
}

.main-description {
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--title-text-color);
}



/* __________FOOTER__________ */
.footer {
	background-color:var(--primary-text-color);
	padding-top: 100px;
	padding-bottom: 100px;
}

.footer-icons {
	display: flex;
}

.footer-icon {
	margin-right: 120px;
}

.footer-logo {
	font-family: 'Raleway';
	font-weight: 800;
	font-size: 18px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--accent-color);
}

.accent-accent {
	color: var(--footer);
}

.footer-description {
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--footer-p);

	width: 264px;
	margin-top: 16px;
}

.footer-social-description,
 .subscription-title {
	margin-bottom: 12px;
	
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--bg-color-body);
}

.footer-social-list-link {
	fill:var(--bg-color-body);
}

.footer-social-list {
	display: flex;
	justify-content: left;
	gap: 16px;
}

.footer-social-list-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color:rgba(255, 255, 255, 0.1);
	transition: var(--transition-color-function);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
	background-color: #31D0AA;
}

.footer-social-list-icon {
	fill: #f4f4fd;
}





/* __________SUBSCRIPTION IN FOOTER__________ */

.subscription-form-field {
	margin-right: 24px;
}

.subscription-form-input {
	width: 264px;
	height: 40px;

	padding: 8px 16px;

	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #e7e9fc;

	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	outline: transparent;

	transition: outline var(--transition-color-function);
}

.form-subscription {
	display: flex;
}

.subscription-form-input::placeholder {
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.04em;

	color: rgba(255, 255, 255, 0.6);
}

.subscription-form-input:focus {
	outline: 1px solid var(--accent-color);
	outline-offset: -1px;
}

.subscribe-btn {
	padding: 8px 24px;
	min-width: 165px;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 16px;

	box-shadow: none;
}

.subscribe-icon {
	fill: #ffffff;
}








/* __________BACKDROP AND MODAL STYLES__________ */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: var(--modal-idx);
	width: 100%;
	height: 100%;

	background-color: rgba(46, 47, 66, 0.4);
	opacity: 1;
	visibility: visible;

	transition: opacity var(--transition-color-function), 
	visibility var(--transition-color-function);
}

.backdrop.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 408px;
	min-height: 576px;

	padding: 72px 24px 24px;
	
	background-color: #fcfcfc;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
	0px 1px 3px rgba(0, 0, 0, 0.12), 
	0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	transition: opacity var(--transition-color-function) 50ms, 
	transform var(--transition-color-function) 50ms;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -70%);
	opacity: 0;
}

.modal-btn {
	position: absolute;
	top: 24px;
	right: 24px;

	width: 24px;
	height: 24px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #e7e9fc;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;

	cursor: pointer;

	transition: background-color var(--transition-color-function), 
	color var(--transition-color-function), 
	border-color var(--transition-color-function);
}

.modal-btn:hover,
.modal-btn:focus {
	background-color: var(--bg-button-main);
	color: var(--bg-color-body);
	border-color: transparent;
}

.modal-icon {
	fill: currentColor;
}






.order-form-appeal {
	margin-bottom: 16px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.02em;

	color: var(--primary-text-color);
}

.order-form-group {
	margin-bottom: 16px;
}

.order-form-field {
	display: block;
	position: relative;
	margin-bottom: 8px;
}

.order-form-label {
	display: block;
	margin-bottom: 4px;

	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: #8e8f99;
}

.order-form-input {
	width: 100%;
	height: 40px;
	padding: 0 38px;

	font-size: 12px;
	background-color: transparent;
	outline: transparent;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	transition: outline var(--transition-color-function);
}

.order-form-input:focus {
	outline: 1px solid var(--accent-color);
	outline-offset: -1px;
}

.order-form-icon {
	position: absolute;
	bottom: 8px;
	left: 16px;

	transition: fill var(--transition-color-function);
}

.order-form-input:focus+.order-form-icon {
	fill: var(--accent-color);
}

.order-form-message {
	display: block;
	width: 100%;
	height: 120px;
	padding: 8px 16px;

	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.04em;
	color: #000000;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: transparent;

	resize: none;

	transition: outline var(--transition-color-function);
}

.order-form-message::placeholder {
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.04em;
	color: rgba(117, 117, 117, 0.5);
}

.order-form-message:focus {
	outline: 1px solid var(--accent-color);
	outline-offset: -1px;
}

.order-form-agreement {
	display: flex;
	align-items: center;
	gap: 8px;

	margin-bottom: 24px;

	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.04em;
	color: #757575;
}

/* Checkbox */

.order-form-checkbox {
	-webkit-appearance: none;
	appearance: none;
	width: 16px;
	height: 16px;

	border: 1.25px solid var(--primary-text-color);
	border-radius: 2px;

	cursor: pointer;

	transition: background-color var(--transition-color-function), border-color var(--transition-color-function);
}

.order-form-checkbox:checked {
	background-image: url(../images/check.svg);
	background-repeat: no-repeat;
	background-position: center;

	background-size: cover;
	background-color: var(--accent-color);
	background-origin: border-box;
	border-color: transparent;
}

.order-form-text {
	user-select: none;
}

.order-form-link {
	color: var(--accent-color);
}

.order-form-btn {
	display: block;
	margin: 0 auto;

	padding: 16px 32px;
	min-width: 169px;
}




